@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "hamburger.css";
@import "animations.css";

:root {
  --light-black: #1e1e1e;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-black);
  font-family: "Poppins", sans-serif;
}

#container {
  padding: 4vw;
}

/*-----------------------------------*\
  #REUSEBLE STYLES
\*-----------------------------------*/

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.btn {
  border: none;
  background-color: transparent;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__nav {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header__nav > ul {
  list-style: none;
  text-align: center;
}
